@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

* {
  font-family: "Josefin Sans";
}

.grid-container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 0px;
  background-image: url("images/bg-pattern-desktop.svg");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.grid-left {
  align-items: center;
  justify-content: center;
  margin: 50px 50px 1px 80px;
}

.grid-right {
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}
